[submodule "bbb-chat"]
	path = bbb-chat
	url = https://github.com/myOmikron/bbb-chat
[submodule "bbb-live"]
	path = bbb-live
	url = https://github.com/myOmikron/bbb-live
[submodule "bbb-observer"]
	path = bbb-observer
	url = https://github.com/myOmikron/bbb-observer
[submodule "bbb-frontend"]
	path = bbb-frontend
	url = https://github.com/myOmikron/bbb-frontend
[submodule "bbb-controller"]
	path = bbb-controller
	url = https://github.com/myOmikron/bbb-controller
[submodule "bbb-edge-stream"]
	path = bbb-edge-stream
	url = https://github.com/myOmikron/bbb-edge-stream
[submodule "bbb-stream-chat"]
	path = bbb-stream-chat
	url = https://github.com/myOmikron/bbb-stream-chat

