[submodule "bbb-chat"]
	path = bbb-chat
	url = https://github.com/myOmikron/bbb-chat
[submodule "xmpp-chat"]
	path = xmpp-chat
	url = https://github.com/myOmikron/xmpp-chat
[submodule "bbb-live"]
	path = bbb-live
	url = https://github.com/myOmikron/bbb-live
[submodule "bbb-observer"]
	path = bbb-observer
	url = https://github.com/myOmikron/bbb-observer
[submodule "bbb-frontend"]
	path = bbb-frontend
	url = https://github.com/myOmikron/bbb-frontend
